#todos span{
	color:#ccc;
	float:right;
	font-size:90%;
}

.project li {
	padding:5px;
	background:#ccc;
	border:1px;
}

.project p {
	padding:5px;
}

.project div {
	color:#fff;
	display:inline-block;
	height:40px;
	line-height:34px;
	padding:0 15px;

}

